body{
	margin: 0;
}
.float-clear{
	clear: both;
}
.container{
	width: 100%;
}

aside{
	width: 500px;
	float: left;
}
aside table tr{
	border-bottom: solid 1px #DDF;
}
aside table tr:last-child{
	border-bottom: 0;
}
aside table th{
	text-align: right;
}
aside table th,
aside table td{
	padding: 5px 10px;
}
#tab-content .tab-pane .map{
	width: 400px;
	height: 300px;
}
.main{
	margin-left: 540px;
}