body{
	margin:0px;
}

#parent{
	margin-top:30px;
	margin-left:50px;
	padding-bottom:10px;
	background-color:#EEF;
	line-height:20px;
}
#div{
	width:200px;
	height:120px;
	margin-top:80px;
	margin-left:100px;
	border:solid 2px #999;
	background-color:#DDD;
	overflow:scroll;
}